<!DOCTYPE html>
<html>
  <head> 
    <title>TwentyWon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
    </style>

    <script src="https://kit.fontawesome.com/5e0c497d4c.js" crossorigin="anonymous"></script>
  </head>
  

  <body>
    <%= yield %>
  </body>
</html>
